.Login {
  .container-main {
    width: 95%;
    max-width: 400px;
    min-width: 300px;
    margin: 48px auto;
    color: rgba(0, 0, 0, .85);
  }

  .logo {
    text-align: center;
    margin-bottom: 36px;

    >img {
      height: 64px;
      margin: 0 auto;
      object-fit: contain;
    }
  }

  .card-section {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 2px;
    padding: 40px 50px 32px;
  }
}